.gaadiex-list {list-style-type: none; margin: 0;padding: 0;}
.gaadiex-list>.gaadiex-list-item {padding: 0 17px;}

.gaadiex-list-item i  {
    float: left;
    font-size:25px;
    width: 80px;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 4px;
    margin-right: 15px;
    border-radius: 30%;
    border-bottom: 2px solid red;

}

h6 {
	text-align-last: left;
	color: grey;
}

h2 {
    text-align-last: left;
    color: grey;
}
.border-b-1 {border-bottom: 1px solid rgba(162,162,162,.16);}