* {
margin: 0;
padding: 0;
}
h1 {
color: #4286f4;
margin-top: 30px;
margin-bottom: 60px;
}
div {
text-align: center;
width: 90%;
margin: 0 auto;
}
input {
width: 100%;
margin: 10px;
padding: 18px 10px;
border-radius: 4px;
border: 1px solid #4e5766;
box-shadow: 1px 0.5px #888888;
font-size: 18px;
}
button {
padding: 12px 10px;
width: 30%;
border-radius: 4px;
background-color: #4286f4;
color: #ffffff;
cursor: pointer;
font-size: 18px;
}
.card {position: relative; border-radius: 3px; background-color: #fff;color: #4f5256;border: 1px solid #f2f2f2;margin-bottom: 16px;background:#fff;}
.card-header{ padding: 16px;margin:0px;}
.card-body {position: relative; padding: 16px;}

.gaadiex-list {list-style-type: none; margin: 0;padding: 0;}
.gaadiex-list>.gaadiex-list-item {padding: 0 22px;}
.gaadiex-list-item-img  {
    float: left;
    width: 58px;
    height: 58px;
    margin-top: 20px;
    margin-bottom: 8px;
    margin-right: 20px;
    border-radius: 50%;
}
.gaadiex-list-item i  {
    float: left;
    font-size:48px;
    width: 58px;
    height: 58px;
    margin-top: 20px;
    margin-bottom: 8px;
    margin-right: 20px;
    border-radius: 50%;
}
.border-b-1 {border-bottom: 1px solid rgba(162,162,162,.16);}